In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('mergedDataFinal2.csv')

In [8]:
df

,UNITID,YearData,SchoolName,"Tuition and fees, after deducting discounts and allowances",Federal operating grants and contracts,State operating grants and contracts,Local operating grants and contracts,State appropriations,Investment income,Other revenues and additions,...,Grants by state government,12-month instructional activity credit hours: undergraduates,12-month instructional activity credit hours: graduates,"Estimated full-time equivalent (FTE) undergraduate enrollment, 2017-18","Estimated full-time equivalent (FTE) graduate enrollment, 2017-18",Percentage off Instruction - Current year total,Percentage off Academic support - Current year total,Percentage off Student services - Current year total,Percentage off Institutional support - Current year total,Percentage off Auxiliary enterprises -- Current year total
0,165024.0,2004.0,Bridgewater State University,32293112.0,4102168.0,3651927.0,249438.0,37595503.0,81202.0,0.0,...,3059026.0,204062.0,22588.0,6802.0,941.0,32.22%,13.54%,11.57%,12.97%,10.84%
1,165024.0,2005.0,Bridgewater State University,44533621.0,4410860.0,3897468.0,210840.0,37460798.0,109454.0,0.0,...,3099029.0,206187.0,21719.0,6873.0,905.0,32.05%,12.85%,13.07%,14.37%,10.33%
2,165024.0,2006.0,Bridgewater State University,45672115.0,4069837.0,3365786.0,639405.0,43303511.0,532956.0,0.0,...,3365786.0,202777.0,22435.0,6759.0,935.0,33.98%,14.33%,11.49%,11.49%,9.79%
3,165024.0,2007.0,Bridgewater State University,47890330.0,4061562.0,3853722.0,818504.0,48152000.0,451898.0,0.0,...,3212902.0,209776.0,25106.0,6993.0,1046.0,34.68%,14.02%,12.06%,11.15%,8.95%
4,165024.0,2008.0,Bridgewater State University,50847551.0,1492830.0,3846880.0,516254.0,51155477.0,1015508.0,0.0,...,3846880.0,221118.0,24018.0,7371.0,1001.0,33.09%,13.02%,12.64%,11.01%,11.94%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,168430.0,2018.0,Worcester State University,38193416.0,8133879.0,1340704.0,3162615.0,35415371.0,-39057.0,0.0,...,1123994.0,142121.0,19482.0,4737.0,812.0,44.78%,9.19%,13.77%,16.94%,11.19%
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df1 = df[["SchoolName",
          "Percentage off Instruction - Current year total", 
         "Percentage off Academic support - Current year total",
        "Percentage off Student services - Current year total",
        "Percentage off Institutional support - Current year total",
        "Percentage off Auxiliary enterprises -- Current year total"]]

In [14]:
df1

,SchoolName,Percentage off Instruction - Current year total,Percentage off Academic support - Current year total,Percentage off Student services - Current year total,Percentage off Institutional support - Current year total,Percentage off Auxiliary enterprises -- Current year total
0,Bridgewater State University,32.22%,13.54%,11.57%,12.97%,10.84%
1,Bridgewater State University,32.05%,12.85%,13.07%,14.37%,10.33%
2,Bridgewater State University,33.98%,14.33%,11.49%,11.49%,9.79%
3,Bridgewater State University,34.68%,14.02%,12.06%,11.15%,8.95%
4,Bridgewater State University,33.09%,13.02%,12.64%,11.01%,11.94%
...,...,...,...,...,...,...
89,Worcester State University,44.78%,9.19%,13.77%,16.94%,11.19%
90,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,NaN,NaN,NaN,NaN,NaN
92,NaN,NaN,NaN,NaN,NaN,NaN
93,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df1.to_csv("violin_data.csv")